//
   Created by Raul Perez on 11/04/2017.
doctype html
html(lang="es")
    head
        title Gelishtime
        meta(charset="utf-8")
        // Bootstrap Core CSS
        link( href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
        // MetisMenu CSS
        link( href="/public/vendor/metisMenu/metisMenu.min.css" rel="stylesheet")
        // Custom CSS
        link( href="/public/dist/css/sb-admin-2.css" rel="stylesheet")
        // DataTables CSS
        link(href='/public/vendor/datatables-plugins/dataTables.bootstrap.css', rel='stylesheet')
        // DataTables Responsive CSS
        link(href='/public/vendor/datatables-responsive/dataTables.responsive.css', rel='stylesheet')
        // Custom Fonts
        link( href="/public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
        // Favicon
        link(rel="icon" href="/public/images/icon.ico")
    body
        #wrapper
            .container
                .row
                    .col-md-4.col-md-offset-4
                        article
                            div
                                h1= Errror 404
                                h2= Recurso no disponible
                                h3
                                    a(href="/almacen") Regresar al Almacen
