extends ../layout.pug
block contenido

  #page-wrapper
    .row
      .col-lg-12
        h3.page-header Asignación y baja de producto básico
    .row
      .col-md-12
        .panel.panel-primary
          .panel-heading
            | Elección
          .panel-body
            .row
              .col-md-5
                h4
                  | Asignación de básico
                #aviso1
                form(action="/basicos?_method=PUT",method="POST",role='form', id="form1")
                  .form-group
                    h5  Producto:
                    select.form-control.selectpicker(name="producto", data-live-search="true")
                      for producto in productos
                        option(name="1") #{producto.nombre}
                  .form-group
                    h5  Técnica:
                    select.form-control.selectpicker(name="tecnica", data-live-search="true")
                      for tecnica in tecnicas
                        option(name="1") #{tecnica.nombre}
                  .form-group
                    input(type="submit" value="Asignar" class="btn btn-lg btn-primary btn-block", id="boton1")
              .col-md-1   
              
              .col-md-5      
                h4
                  | Baja de básico
                #aviso2  
                form(action="/basicos?_method=DELETE",method="POST",role='form', id="form2")
                  .form-group
                    h5  Producto:
                    select.form-control.selectpicker(name="producto", data-live-search="true")
                      for producto in productos
                        option(name="1") #{producto.nombre}
                  .form-group
                    h5  Técnica:
                    select.form-control.selectpicker(name="tecnica", data-live-search="true")
                      for tecnica in tecnicas
                        option(name="1") #{tecnica.nombre}
                  .form-group
                    input(type="submit" value="Baja" class="btn btn-lg btn-primary btn-block", id="boton2")
  // jQuery
  script(src='/public/vendor/jquery/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='/public/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/public/vendor/metisMenu/metisMenu.min.js')
  // Custom Theme JavaScript
  script(src='/public/dist/js/sb-admin-2.js')
  script(src='/public/dist/js/bootstrap-select.min.js')
  script(src='/public/avisos/basico.js')   
