extends ../layout.pug
block contenido
  
  #page-wrapper
    .row
      .col-lg-12
        h3.page-header Bajas de Productos
    .row
      .col-lg-12
        form( id="formbaja" style="display:inline" action="/historial/movimientos" method="POST")
          .form-groups
            .panel-body
              if usuario.permisos === 2
                .col-lg-3
                  label Fecha Inicio:
                  input.form-control(id="inicial" type="date" name="inicio" )
                .col-lg-3
                  label Fecha Final:
                  input.form-control(id="final" type="date" name="final" )
                .col-lg-3
                  label Sucursal:
                  select.form-control(id="sucursal" name="plaza" )
                    for sucursal in sucursales
                      option(name="1") #{sucursal.plaza}
                .col-lg-3
                  label Categoría:
                  select.form-control(id="categoria" name="categoria" )
                    for categoria in categorias
                      option(name="1") #{categoria.nombre}

              else

                .col-lg-4
                  label Fecha Inicio:
                  input.form-control(id="inicial" type="date" name="inicio" )
                .col-lg-4
                  label Fecha Final:
                  input.form-control(id="final" type="date" name="final" )
                .col-lg-4
                  label Categoría:
                  select.form-control(id="categoria" name="categoria" )
                    for categoria in categorias
                      option(name="1") #{categoria.nombre}  

    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Bajas
          .panel-body
            table#dataTables-example.table.table-striped.table-bordered.table-hover
              thead
                tr
                  th Código
                  th Producto
                  th Cantidad
                  th Usuario
                  th Técnica
                  th Fecha
              tbody

  // jQuery
  script(src='/public/dataTables/jquery/jquery.js') 
  script(src='/public/data/fechaInicial2.js')
  // Bootstrap Core JavaScript
  script(src='/public/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/public/vendor/metisMenu/metisMenu.min.js')
  // DataTables JavaScript
  script(src='/public/dataTables/media/js/jquery.dataTables.min.js')
  script(src='/public/dataTables/media/js/dataTables.bootstrap.min.js')
  script(src='/public/dataTables/extensions/Responsive/js/dataTables.responsive.js')
  // Custom Theme JavaScript
  script(src='/public/dist/js/sb-admin-2.js')
  // scripts
  script.
    $('#dataTables-example').DataTable({
        responsive: true,
        "order": [[ 5, "desc" ]]
    });

  script(src='/public/data/getBajas.js')
