extends ../layout.pug
block contenido
  #page-wrapper
    .row
      .col-lg-12
        h3.page-header Estadísticas
      .col-md-12
        .panel.panel-default
          .panel-heading
            | Estadísticas Generales
          .panel-body
            ul.nav.nav-tabs
              li.active
                a(href='#topten', data-toggle='tab') Top Ten
              li
                a(href='#basicos', data-toggle='tab') Básicos
            .tab-content
              #topten.tab-pane.fade.in.active
                .col-lg-10.col-lg-offset-1
                form( id="formtopten", style="display:inline", action="/historial/generaltop", method="POST")
                  .form-groups
                    .panel-body
                      .col-lg-4
                        label Fecha Inicio:
                        input.form-control(id="Finicial" type="date" name="iniciot" )
                      .col-lg-4
                        label Fecha Final:
                        input.form-control(id="Ffinal" type="date" name="finalt" )
                      .col-lg-4
                        label Sucursal:
                        select.form-control(id="sucursal" name="sucursaltop" )
                          for sucursal in sucursales
                            option(name="1") #{sucursal.plaza}      
                        
                .col-lg-10.col-lg-offset-1
                  .form-groups
                    .panel-body
                      table#dataTables-example.table.table-striped.table-bordered.table-hover
                        thead
                          tr
                            th Código 
                            th Producto
                            th Cantidad
                        tbody
                          // falta poner las filas  
              #basicos.tab-pane.fade
                .col-lg-12
                form( id="formbasicos", style="display:inline", action="/historial/sucursalbas", method="POST")
                  .form-groups
                    .panel-body
                      .col-lg-3
                        label Fecha Inicio:
                        input.form-control(id="FinicialB" type="date" name="iniciob" )
                      .col-lg-3
                        label Fecha Final:
                        input.form-control(id="FfinalB" type="date" name="finalb")
                      .col-lg-3
                        label Producto:
                        select.form-control(id="producto" name="basico" )
                          for basico in basicos
                            option(name="1") #{basico.nombre}
                      .col-lg-3
                        label Sucursal:
                        select.form-control(id="sucursalGrafica" name="sucursalbas" )
                          for sucursal in sucursales
                            option #{sucursal.plaza}      
                .col-lg-10.col-lg-offset-1
                  #grafica
                  
  // jQuery
  script(src='/public/dataTables/jquery/jquery.js') 
  script(src='/public/data/fechaInicial.js')
  // Bootstrap Core JavaScript
  script(src='/public/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/public/vendor/metisMenu/metisMenu.min.js')
  // DataTables JavaScript
  script(src='/public/stuk/dist/jszip.min.js')
  script(src='/public/dataTables/media/js/jquery.dataTables.min.js')
  script(src='/public/dataTables/media/js/dataTables.bootstrap.min.js')
  script(src='/public/dataTables/extensions/Responsive/js/dataTables.responsive.js')
  script(src='/public/dataTables/extensions/Buttons/js/dataTables.buttons.min.js')
  script(src='/public/dataTables/extensions/Buttons/js/buttons.html5.min.js')
  script(src='/public/pdfmake/build/pdfmake.min.js')
  script(src='/public/pdfmake/build/vfs_fonts.js')
  // Custom Theme JavaScript
  script(src='/public/dist/js/sb-admin-2.js')
  // scripts
  script.
    $('#dataTables-example').DataTable({
        responsive: true,
        "order": [[ 2, "desc" ]],
        dom: 'Bfrtip',
        buttons: [
             {
                extend: 'excelHtml5',
                title: 'TopTen',
                exportOptions: {
                    columns: [ 0, 1, 2 ]
                }
            },
            {
                extend: 'pdf',
                title: 'TopTen',
                exportOptions: {
                    columns: [ 0, 1, 2 ]
                }
            }
        ]
    });
  // inputs inicial del date  
  script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js') 
  script(src='/public/data/graficasGeneral.js' charset="utf-8")