extends ../layout.pug
block contenido

  #page-wrapper
    .row
      .col-lg-12
        h3.page-header Lista de productos
    .row
      .col-lg-10.col-lg-offset-1
        form( id="formproducto", style="display:inline", action="/products", method="POST")
          .form-groups
            .panel-body
              .col-lg-4
              .col-lg-4
              .col-lg-4
                label Categoría:
                select.form-control(id="categoria" name="categoria" )
                  for categoria in categorias
                    option(name="1") #{categoria.nombre}          
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Productos
          .panel-body
            table#dataTables-example.table.table-striped.table-bordered.table-hover
              thead
                tr
                  th Código
                  th Nombre
                  th Descripción
                  th Mínimo
                  th Básico
                  th Acción
              tbody
                    
  // jQuery
  script(src='/public/dataTables/jquery/jquery.js') 
  // Bootstrap Core JavaScript
  script(src='/public/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/public/vendor/metisMenu/metisMenu.min.js')
  // DataTables JavaScript
  script(src='/public/dist/js/sb-admin-2.js')
  script(src='/public/stuk/dist/jszip.min.js')  
  script(src='/public/dataTables/media/js/jquery.dataTables.min.js')
  script(src='/public/dataTables/media/js/dataTables.bootstrap.min.js')
  script(src='/public/dataTables/extensions/Responsive/js/dataTables.responsive.js')
  script(src='/public/dataTables/extensions/Buttons/js/dataTables.buttons.min.js')
  script(src='/public/dataTables/extensions/Buttons/js/buttons.html5.min.js')
  script(src='/public/pdfmake/build/pdfmake.min.js')
  script(src='/public/pdfmake/build/vfs_fonts.js') 
  script.
    $('#dataTables-example').DataTable({
        responsive: true,
        dom: 'Bfrtip',
        buttons: [
             {
                extend: 'excelHtml5',
                title: 'Productos',
                exportOptions: {
                    columns: [ 0, 1, 2, 3, 4 ]
                }
            },
            {
                extend: 'pdf',
                title: 'Productos',
                exportOptions: {
                    columns: [ 0, 1, 2, 3, 4 ]
                }
            }
        ]
    });

  script(src='/public/data/getProducts.js')
